/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/* Custom CSS */

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-family: "Passion One", sans-serif;
}

#header {
  height: 60px;
  width: 600px;
  background-color: #251319;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#logo {
  font-size: 2.2em;
  color: #C4331F;
  text-transform: uppercase;

}

#timer {
  display: flex;
  font-size: 1.2em;
}

#scare-counter {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#counter {
  text-transform: uppercase;
  font-size: 1.4em;
}

li{
  display: inline-block;;
  height: 30px;
  width: 18px;
  background-color: #56343F;
  list-style-type:none
}




#board {
  background: url("../src/background.png") no-repeat;
  position: relative;
  background-size: contain;

  height: 600px;
  width: 600px;
  overflow: hidden;
}






#ghost {
  background-color: rgba(255, 255, 255, 0.5);
}

#npc {
  background-color: rgb(128, 0, 255);
}

#intermediatePoint {
  position: absolute;
  top: 300px;
  left: 300px;
  height: 10px;
  width: 10px;
}

.interactiveObj {
  box-sizing: content-box;
  /* border: 1px solid #18b01d; */
  /* padding: 10px; */
}

#infoboard {
  height: 80px;
  width: 600px;
  background-color: #251319;
  line-height: 2em;
  color: #C4331F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.useraction-info {
  font-size: 1.2em;
  color: #fff;
  /* display: none; */
}

#message {
  font-size: 2em;
}



#losing {
  height: 100%;
  width: 100%;
  background-color: #251319;
}

#losing div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#losing p {
  width: 350px;
  text-align: center;
  font-size: 3em;
  padding-bottom: 40px;
}

#restart-btn {
  width: 230px;
  background-color: #c4331f;
  color: #fff;
  font-size: 1.5em;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 10px 10px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}

#restart-btn:hover{
  background-color: rgb(219, 77, 67);
  /* transform: scale(1.03); */
 }
 #restart-btn:active{
  transform: scale(0.95);
 }

.hidden {
  display: none;
}

.show {
  display: block;
}


